#abrirVentana{
    background-color: rgb(62, 4, 112);
    border: 0ch;
    color: white;
}
.navbar{
  background-color: rgb(62, 4, 112);
}
footer{
  background-color: rgb(62, 4, 112);
  color: white;
}
h1 {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
#tituloNav{
  font-size: 30px; 
  font-family: Optima;
}